<!-- TODO: create a hover event which shows pointer to indicate li elements are clickable -->
<section class="disp-bike">
  <h4>Bike Models for {{  displayBikeCtrl.currentMfr.name }}</h4>
 <ul class="results-table">
   <li ng-repeat="bike in displayBikeCtrl.bikes"
    ng-class-odd="'odd'" ng-class-even="'even'"
    ng-click="displayBikeCtrl.changeBike(bike)"
    >
      <span>{{ bike.bikeName }} </span>
    </li>
  </ul>

  <edit-bike ng-if="displayBikeCtrl.showEditBike" current-bike="displayBikeCtrl.currentBike"></edit-bike>

</section>
