<section class="create-geo">
	<h2>Add Bike Geometry</h2>
	<!--
	todo: add something like this in to make it more customized:
	<p>for bike: {{bike name }} {{ bike mfr }}</p>
	-->
	<uib-accordion>
		<div uib-accordion-group class="panel-default" heading="create a new bike measurement {{createGeoCtrl.bike.name}}" is-open="createGeoCtrl.accOpen">
			<form
				name="createGeoForm"
				class="geo-form"
				ng-submit="createGeoCtrl.createGeo()"
			>
			<fieldset>
				<label for="size">size:</label>
				<input type="text" ng-model="createGeoCtrl.geo.bikeSizeName" name="size" placeholder="name">
				<label for="topTube">top tube:</label>
				<input type="number" ng-model="createGeoCtrl.geo.topTubeLength" name="topTube" placeholder="top tube">
				<label for="wheelSize">wheel size:</label>
				<input type="number" ng-model="createGeoCtrl.geo.wheelSize" name="wheelSize" placeholder="wheel size">
				<label for="bbDrop">bb drop:</label>
				<input type="number" ng-model="createGeoCtrl.geo.bbDrop" name="bbDrop" placeholder="bb drop">
				<label for="forkLength">fork length:</label>
				<input type="number" ng-model="createGeoCtrl.geo.forkLength" name="forkLength" placeholder="fork length">
				<label for="forklength">forklength:</label>
				<input type="number" ng-model="createGeoCtrl.geo.forkLength" name="forkLength" placeholder="fork length">
				<label for="headTubeLength">head tube length:</label>
				<input type="number" ng-model="createGeoCtrl.geo.headTubeLength" name="headTubeLength" placeholder="head tube length">
				<label for="headTubeAngle">head tube angle:</label>
				<input type="number" ng-model="createGeoCtrl.geo.headTubeAngle" name="headTubeAngle" placeholder="head tube angle">
				<label for="seatTubeAngle">seat tube angle:</label>
				<input type="number" ng-model="createGeoCtrl.geo.seatTubeAngle" name="seatTubeAngle" placeholder="seat tube angle">
				<label for="stack">stack:</label>
				<input type="number" ng-model="createGeoCtrl.geo.stack" name="stack" placeholder="stack">
				<label for="reach">reach:</label>
				<input type="number" ng-model="createGeoCtrl.geo.reach" name="reach" placeholder="reach">
			</fieldset>
				<button class="btn-std">upload bike dimensions</button>
			</form>
		</div>
	</uib-accordion>
</section>
