<section class="profile-disp">
  <div class="image">
  <img
      src="{{ profileDisplayCtrl.profile.photoURI }}"
      alt="profile photo {{ profileDisplayCtrl.profile.name }}">
      <profile-img profile="profileDisplayCtrl.profile"></profile-img>
  </div>
  <div class="info">
    <h2>profile </h2>
    <ul ng-if="!profileDisplayCtrl.showEdit">
      <li>
        <span>name:</span>{{ profileDisplayCtrl.profile.name }}
        <span class="unset" ng-if="!profileDisplayCtrl.profile.name">not set</span>
      </li>
      <li><span>email:</span>{{ profileDisplayCtrl.profile.email }}</li>

      <li >
        <span>gender:</span>{{ profileDisplayCtrl.profile.gender }}
        <span class="unset" ng-if="!profileDisplayCtrl.profile.gender">not set</span>
      </li>
      <li>
        <span>height:</span>{{ profileDisplayCtrl.profile.height }}
        <span class="unset" ng-if="!profileDisplayCtrl.profile.height">not set</span> {{ profileDisplayCtrl.units }}
      </li>
      <li>
        <span>inseam:</span>{{ profileDisplayCtrl.profile.inseam }}
        <span class="unset" ng-if="!profileDisplayCtrl.profile.inseam">not set</span> {{ profileDisplayCtrl.units }}
      </li>
      <li>
        <button class="btn-std"
        ng-click="profileDisplayCtrl.showEdit=!profileDisplayCtrl.showEdit">
        edit
        </button>
      </li>
    </ul>
    <form ng-if="profileDisplayCtrl.showEdit"
    ng-submit="profileDisplayCtrl.updateProfile()">
      <ul >
        <li><input name="name" ng-model="profileDisplayCtrl.profile.name"
              placeholder="full name"></li>
        <li> {{ profileDisplayCtrl.profile.email }} </li>
        <li> <input ng-model="profileDisplayCtrl.profile.gender" placeholder="gender"> </li>
        <li> <input ng-model="profileDisplayCtrl.profile.height" placeholder="height" type="number"> </li>
        <li> <input ng-model="profileDisplayCtrl.profile.inseam" placeholder="inseam" type="number"> </li>
        <li>
          <span
            class="btn-std units"
              ng-model="profileDisplayCtrl.units"
              ng-click="profileDisplayCtrl.switchUnits()">
              {{ profileDisplayCtrl.units }}
              </span>
          <button class="btn-std" type="submit">
          update
          </button>
        </li>
      </ul>
    </form>
  </div>
</section>

<profile-instructions ng-if="!profileDisplayCtrl.profile.height || !profileDisplayCtrl.profile.inseam"></profile-instructions>

<favorites-display
  ng-if="profileDisplayCtrl.results"
  profile="profileDisplayCtrl.profile"
  fetch-profile="profileDisplayCtrl.fetchProfile()"
  remove-favorite="profileDisplayCtrl.removeFavorite(toRemove)"></favorites-display>

  <div class="divider"></div>
  <span class="pseudo-h2" ng-if="profileDisplayCtrl.results">matching bikes</span>
<profile-results
  profile="profileDisplayCtrl.profile"
  results="profileDisplayCtrl.results"
  fetch-profile="profileDisplayCtrl.fetchProfile()"
  add-to-favorites="profileDisplayCtrl.addToFavorites(toAdd)"
  >
  </profile-results>
