<section class="signup">
  <form class="signup-form"
    name="signupForm"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>
    <!-- <h3>sign up</h3> -->
    <input class="input-std"
      type="text"
      name="userName"
      autocapitalize="off" autocorrect="off"
      placeholder="name"
      ng-minlength="2"
      ng-maxlength="28"
      ng-model="signupCtrl.user.username" required>
      <div class="formChecker" ng-messages="signupForm.userName.$error">
          <p ng-message="minlength">Must be at least 2 characters</p>
          <p ng-message="maxlength">Must be less than 28 characters</p>
      </div>
    <input class="input-std"
      type="email"
      name="userEmail"
      autocapitalize="off" autocorrect="off"
      placeholder="email"
      ng-model="signupCtrl.user.email">

      <div class="formChecker" ng-messages="signupForm.userEmail.$error">
          <p ng-message="email">Must be a valid email</p>
      </div>

    <input class="input-std"
      type="password"
      name="signinField"
      autocapitalize="off" autocorrect="off"
      placeholder="password"
      ng-minlength="8"
      ng-model="signupCtrl.user.password" required>
       <div class="formChecker server-error" ng-if="signupCtrl.serverError">
        <p >Username or email address is already in use</p>
      </div>
      <div class="formChecker" ng-messages="signupForm.signinField.$error">
          <p ng-message="minlength">Password must be at least 8 characters</p>
      </div>
    <input type="submit" class="btn-std" ng-disabled="signupForm.$invalid" value="sign up">
  </form>
</section>
