  <div class="bike-modal">
    <img ng-src="{{ detailModalCtrl.resolve.modalData.photoURI }}"
    alt="{{ detailModalCtrl.resolve.modalData.desc }}"
    >
    <ul>
      <li><a href="{{detailModalCtrl.resolve.mfrID.website}}">Brand: {{ detailModalCtrl.resolve.modalData.mfrID.name}}</a></li>
      <li>Name: {{ detailModalCtrl.resolve.modalData.bikeName}}</li>
      <li>Category: {{  detailModalCtrl.resolve.modalData.category }}</li>
      <li>url: {{  detailModalCtrl.resolve.modalData.url }}</li>
      <li>Price: {{  detailModalCtrl.resolve.modalData.price }}</li>
    </ul>
  </div>
