@import '../../../../scss/lib/theme/vars';


.edit-bike-geo{
    padding: $gutter-std * 2;
    form{
      margin: $gutter-std;

      input{
        width: 60%;
        display: inline-block;

      }
      label{
        width: 31%;
        margin-right: $gutter-std;
        display:inline-block;
        text-align: right
      }
      .btn-std{
        float: none;
        margin-top: $gutter-std*2;
        margin-left: 35%;
      }

    }
}