@import '../../../../scss/lib/theme/vars';


.edit-bike-geo{
    padding: $gutter-std * 2;
    form{
      margin: $gutter-std;

      input{
        width: 35vw;
        display: inline-block;

      }
      label{
        width: 18vw;
        display:inline-block;
      }
      .btn-std{
        float: none;
        margin-top: $gutter-std*2;
      }

    }
}