<section class="edit-bike-geo">
   <div class="close" ng-click="editGeoCtrl.closeModal()"><span class="glyphicon glyphicon-remove"></span></div>
   	<form
		name="editGeoForm"
		class="geo-form"
		ng-submit="editGeoCtrl.updateGeo()"
	>
	<h3>edit bike size</h3>
	<fieldset>
		<label for="size">size name:</label>
		<input type="text" ng-model="editGeoCtrl.geo.bikeSizeName" name="size" placeholder="name">
		<label for="topTube">top tube:</label>
		<input type="text" ng-model="editGeoCtrl.geo.topTubeLength" name="topTube" placeholder="top tube">
		<label for="wheelSize">wheel size:</label>
		<input type="text" ng-model="editGeoCtrl.geo.wheelSize" name="wheelSize" placeholder="wheel size">
		<label for="bbDrop">bb drop:</label>
		<input type="text" ng-model="editGeoCtrl.geo.bbDrop" name="bbDrop" placeholder="bb drop">
		<label for="forkLength">fork length:</label>
		<input type="text" ng-model="editGeoCtrl.geo.forkLength" name="forkLength" placeholder="fork length">
		<label for="forklength">forklength:</label>
		<input type="text" ng-model="editGeoCtrl.geo.forkLength" name="forkLength" placeholder="fork length">
		<label for="headTubeLength">head tube length:</label>
		<input type="text" ng-model="editGeoCtrl.geo.headTubeLength" name="headTubeLength" placeholder="head tube length">
		<label for="headTubeAngle">head tube angle:</label>
		<input type="text" ng-model="editGeoCtrl.geo.headTubeAngle" name="headTubeAngle" placeholder="head tube angle">
		<label for="seatTubeAngle">seat tube angle:</label>
		<input type="text" ng-model="editGeoCtrl.geo.seatTubeAngle" name="seatTubeAngle" placeholder="seat tube angle">
		<label for="stack">stack:</label>
		<input type="text" ng-model="editGeoCtrl.geo.stack" name="stack" placeholder="stack">
		<label for="reach">reach:</label>
		<input type="text" ng-model="editGeoCtrl.geo.reach" name="reach" placeholder="reach">
	</fieldset>
		<button class="btn-std" type="submit">update bike dimensions</button>
		<div class="clearfix">
	</form>
</section>
