@import '../../../scss/lib/theme/vars';

.favorites-profile{
  display: inline-block;
  width:40%;
  ul{
    max-height: 275px;
    overflow-x: scroll;
    border: 2px solid $app-primary;
    li{
      border-bottom: 1px solid $app-primary;
      padding: $gutter-std;
    }
  }
  img{
    width:30%;
    height: auto
  }
  h2{
    font-size: 3vw;
  }

  .btn-std {
    padding: 1% 1%;
    margin: 0 4px;

  }
}
@media #{$med-mobile} {
  .favorites-profile{
    display: block;
    width:100%;
    ul{
      max-height: 275px;
      overflow-x: scroll;
      border: 2px solid $app-primary;
      li{
        border-bottom: 1px solid $app-primary;
        padding: $gutter-std;
      }
    }
    img{
      width:30%;
      height: auto
    }
    h2{
      font-size: 6vw;
    }

    .btn-std {
      padding: 1% 1%;
      margin: 0 4px;

    }
  }
}