@import '../../../scss/lib/theme/vars';

.profile-bike-results{


  padding:$gutter-std/3;

   .item-block {
    text-align: center;
    display: inline-block;
    margin-bottom: 0.5em;
    padding:$gutter-std/3;
    div.inner-container{
    border: 1px solid $app-primary;
    background-color: $white;

   }
    h3{
      margin: $gutter-std 0;
      //font-size: 4vw;
      max-height:22px;
    }

    button {
      margin: $gutter-std auto;
      float: none;
      //margin-right: 37%;
     }
    .img-container {
      margin: 1em;
      height: 26vw;
      border-bottom: 1px solid $app-primary;
      overflow: hidden;
    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      }
    }
  }
}

@media #{$large-mobile} {
  .profile-bike-results{
    .item-block{
      .img-container{
        height: 40vw;
        img{
          max-height: 150%;
        }
      }
    }
  }
}
@media #{$med-mobile} {
  .profile-bike-results{
    .item-block{
      h3{
        font-size: 5vw;
      }
      .img-container{
        height: auto;
      }
    }
  }
}
