<section class="about-us">
  <p>The driving force behind fit-o-matic is the simple idea that the world would be a better place if more people rode bikes.</p>

  <p>The primary obstacle people face in regulary riding bikes is also simple - if your bike doesn't fit you, you're not going to ride it. If you're shopping online, it can also be very difficult to navigate different size charts, sizing conventions, and sizing methodology.</p>

  <p>This is where fit-o-matic comes in. With 2 simple measurements, our exclusive algorithm will return a list of bike sizes that fit your body. Instead of focusing on brands, models, or marketing gimmicks, we focus on fit, plain and simple.</p>

  <p>Sign up for a free account, and see what bikes were made for you!</p>


</section>
