<section class="landing">
  <h1>{{landingCtrl.signInFirst}}</h1>
  <div class="join-container">
    <div class="join-inner"
    ng-if="landingCtrl.signInFirst"
    >
      <signup-controller></signup-controller>
      <div>
          <!-- plugging /join#signin here doesn't seem to work -->
        <a href="/#!/join#signin"
          ng-click="landingCtrl.signInFirst=false">
          already a member?
        </a>
      </div>
    </div>
  </div>

  <div class="join-container">
    <div class="join-inner"
    ng-if="!landingCtrl.signInFirst"
    >
      <signin-controller></signin-controller>
      <div>
        <!-- plugging /join#signup here doesn't seem to work -->
        <a href="/#!/join#signup"
          ng-click="landingCtrl.signInFirst=true">
          need to signup?
        </a>
      </div>
    </div>
  </div>
</section>
