<section class="signin-form">
  <form
    name="signinForm"
    ng-submit="signinCtrl.signin()"
    novalidate>
    <!-- <h3>sign in</h3> -->
    <input type="text"
      name="username"
      placeholder="username"
      autocapitalize="off" autocorrect="off"
      ng-minlength="2"
      ng-maxlength="28"
      class="input-std"
      ng-model="signinCtrl.user.username" required>
      <div class="formChecker" ng-messages="signinForm.username.$error">
          <p ng-message="minlength">Must be at least 2 characters</p>
          <p ng-message="maxlength">Must be less than 28 characters</p>
      </div>

    <input type="password" name="password"
      autocapitalize="off" autocorrect="off"
      ng-disabled="signinForm.username.$invalid"
      placeholder="password"
      ng-minlength="8"
      class="input-std"
      ng-model="signinCtrl.user.password" required >
      <div class="formChecker" ng-messages="signinForm.password.$error">
          <p ng-message="minlength">Must be at least 8 characters</p>
      </div>
      <div class="formChecker server-error" ng-if="signinCtrl.serverError">
          <p >Name and/or Password is invalid!</p>
      </div>

    <input type="submit" class="btn-std" ng-disabled="signinForm.$invalid" value="sign in">
  </form>
</section>
