<section class="disp-manufacturers">

  <ul class="results-table">
    <li
    ng-class-odd="'odd'" ng-class-even="'even'"
    >
      <span>{{ displayMfrCtrl.brand.name }}</span>
      <button type="button" name="addBike" ng-click="displayMfrCtrl.showAddBike = !displayMfrCtrl.showAddBike">Add Bike Model</button>
      <button type="button" ng-click="displayMfrCtrl.showDisplayBike = !displayMfrCtrl.showDisplayBike">show bikes</button>
    </li>
      <create-bike ng-if="displayMfrCtrl.showAddBike" brand="displayMfrCtrl.brand" show-form="displayMfrCtrl.showAddBike"></create-bike>

      <p>{{displayMfrCtrl.brand.name}}</p>
<!--       set-current-bike="displayMfrCtrl.setCurrentBike(newBike)""
 -->
      <display-bike ng-if="displayMfrCtrl.showDisplayBike"
      show-display-bike="displayMfrCtrl.showDisplayBike"
      brand="displayMfrCtrl.brand"
      fetch-mfr-bikes="displayMfrCtrl.fetchMfrBikes()"
      bikes="displayMfrCtrl.bikes"
      current-bike="displayMfrCtrl.currentBike"
      pass-current-bike="displayMfrCtrl.passCurrentBike(newBike)"
      >
      </display-bike>
  </ul>
</section>
