<section class="admin-content">
  <create-mfr></create-mfr>
  <!-- <display-mfr mfrs="adminCtrl.mfrs"></display-mfr> -->
  <!-- TODO: CHECK THAT THIS WORKS -->
  <div class="clearfix"></div>
  <h2>bike manufacturers</h2>
  <display-mfr ng-repeat="mfr in adminCtrl.mfrs" brand="mfr" current-mfr="adminCtrl.currentMfr" ></display-mfr>

  <!-- <create-bike></create-bike>
  <display-bike></display-bike> -->

<!-- TODO: plugin attr to the display-geo tag to maintain state/scope -->
  <create-geo></create-geo>
  <display-geo></display-geo>
</section>
