<section class="admin-content">
  <create-mfr></create-mfr>

  <p>{{adminCtrl.currentMfr}}</p>

  <div class="clearfix"></div>
  <h2>bike manufacturers</h2>
  <display-mfr ng-repeat="mfr in adminCtrl.mfrs" show-display-bike="adminCtrl.showDisplayBike" set-current-mfr="adminCtrl.setCurrentMfr(mfr)" brand="mfr" current-mfr="adminCtrl.currentMfr"></display-mfr>

  <delete-mfr></delete-mfr>

  <display-bike ng-if="adminCtrl.showDisplayBike" show-display-bike="adminCtrl.showDisplayBike" current-mfr="adminCtrl.currentMfr"></display-bike>


<!-- TODO: plugin attr to the display-geo tag to maintain state/scope -->
  <create-geo></create-geo>
  <display-geo></display-geo>
</section>
