@import '../../../../scss/lib/theme/vars';


.integrate-geo-bike{
  span{
    display: inline-block;
    width: 30vw;

  }
  .success{
    color:green;
    width:1vw;
  }
  button{
    cursor: pointer;
    &.btn-std{
      padding: 1% 2%;
      margin: $gutter-std/2 $gutter-std;
    }
  }
  button:disabled{
    color: $app-primary;
    background-color: $app-primary/2;
    cursor: default;
  }
}