<section class="profile-instructions">
  <div>
    <h3>find a great fitting bike</h3>
    <div class="instructions" >
      <p>Welcome to your profile page. Here you can input your measurements and find bikes that feel built for you. You can save your favorite bikes, upload a picture of yourself and save your profile information.</p>
      <p>You will need to enter your height and inseam length. You may use either inches or centimeters but the measurement needs to be a whole number.</p>
      <ul>In order to acurately measure your inseam:
        <li>1. Stand up against a wall with your feet 6-8 inches apart.</li>
        <li>2. Push a book, with the spine facing up, into your crotch with similar pressure to when you are sitting on a bike seat.</li>
        <li>3. Hold the book against the wall while you move and then measure the distance from the floor to the top of the book.</li>
      </ul>
    </div>
  </div>
</section>
